/* landingPage.css */

/* ------------------- */
/* Light Palette */
/* ------------------- */
:root {
  --landing-bg: #fff; /* Fondo claro */
  --landing-text-color: #212529; /* Texto principal */
  --landing-title-color: #007bff; /* Título en azul */
  --landing-shadow: rgba(0, 0, 0, 0.1); /* Sombra clara */
}

/* Contenedor principal */
.landing-container {
  width: 95%;
  height: 60vh;
  margin: 5% auto;
  background-color: var(--landing-bg);
  box-shadow: 0 4px 8px var(--landing-shadow);
  border-radius: 8px;
  text-align: center;
  margin-top: 70px; /* Compensa la altura del header */
  padding: 20px; /* Mantiene el espacio interno */
}

/* Título principal */
h1 {
  font-size: 2.5rem;
  color: var(--landing-title-color);
  margin-bottom: 1.5rem;
}

/* Párrafos */
p {
  font-size: 1.2rem;
  color: var(--landing-text-color);
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

/* ------------------- */
/* Dark Palette */
/* ------------------- */
body.dark-mode {
  --landing-bg: #1e1e1e; /* Fondo oscuro */
  --landing-text-color: #e4e4e4; /* Texto claro */
  --landing-title-color: #65a4ff; /* Título en azul claro */
  --landing-shadow: rgba(255, 255, 255, 0.1); /* Sombra más tenue */
}
